name: Package Release

on:
  push:
    branches:
      - main
    tags:
      - "*"
      - "!**-alpha**"
      - "!**-beta**"

env:
  CF_API_KEY: ${{ secrets.CF_API_KEY }}
  # for github releases, this secret is automatically provided to the workflow
  GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}

jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: BigWigsMods/packager@master
